<template name="chatroom">
  <h2 style="padding-top:60px; margin-top: 0px;"></h2>
  <div class="chatroom">
    <div class="header"> Chat Room {{room.owner}} </div>
    <div class="container">
      {{#each msgs}}
        <div class="area">
          {{#if isOwner owner}}
            {{> msgRight}}
          {{else}}
            {{> msgLeft}}
          {{/if}}
        </div>
      {{/each}}
      <div class="area">
        <form class="new-msg">
          <input class="text" type="text" name="msg" placeholder="Type to chat" />
        </form>
        <div class="validation">You Are Not Registered</div>
      </div>
    </div>
  </div>
</template>

<template name="msgLeft">
  <div class="l">
    <img src="http://graph.facebook.com/{{facebookId}}/picture?type=square"/>
  </div>
  <div id="l" class="text r textR">
    <p class="chat-username">{{username}}</p>
    {{text}}
  </div>
</template>

<template name="msgRight">
  <div class="r">
    <img src="http://graph.facebook.com/{{facebookId}}/picture?type=square"/>
  </div>
  <div id="r" class="text l textL">
    {{text}}
  </div>
</template>