<template name="chatroom">
<div class="chatroom">
  <div class="header">Conversation</div>
<div class="container">
  
  <div class="area">
    <div class="l">
    <img src="imgs/male.jpg"/>
        <div class="tooltip">Sami Massadeh - 28 Years<br/>Doctor <br/>Jordan</div>
    </div>
    <div class="text r textR">Hi Mariam, How Are You?
    </div>
  </div>
  
    <div class="area"> 
    <div class="r">
    <img src="imgs/female.jpg"/>
        <div class="tooltip">Mariam Massadeh - 23 Years<br/>Computer Engineer<br/>Jordan</div>
    </div>    
    <div class="text l textL">Hi Sami, Fine, Thank You, How Are You?
    </div>    
  </div>
  
   <div class="area">
    <div class="l">
    <img src="imgs/male.jpg"/>
        <div class="tooltip">Sami Massadeh - 28 Years<br/>Doctor <br/>Jordan</div>
    </div>
    <div class="text r textR">Fine, Can I see you tomorrow?
    </div>
  </div>
  
    <div class="area"> 
    <div class="r">
    <img src="imgs/female.jpg"/>
        <div class="tooltip">Mariam Massadeh - 23 Years<br/>Computer Engineer<br/>Jordan</div>
    </div>    
    <div class="text l textL">sure, Yes I can,
      t.c
    </div>    
  </div>

  
    <div class="area">
    <textarea placeholder=""></textarea>
      <br/>
      <input type="button" onclick="clickX()" value="SEND"/>
      <div class="validation">You Are Not Registered</div>
      <br/>
    <p class="note">* for any help return to adminstrator..</p>
  </div>
  
  
</div></div>

</template>
