<template name="google">
  <h2 class="left-align app-title"></h2>
  <div class="row">
    <div class="card-container">
      <div class="card medium signin-panel center-align z-depth-3" style="border-radius: 10px;">
        <div class="card-image waves-effect waves-block waves-light" style="height: 200px;">
          <img src="imgs/typing.jpg" style="opacity: 0.4;">
          <div class="card-logo">
            <img class="card-app-logo" src="imgs/logo.png">
            <p>Epsilon</p>
          </div>
        </div>
        <div class="card-content" style="padding: 20px; height: 200px;">
          {{#if user}}
            <p class="grey-text text-darken-2 left-align card-description user-name google user">
              {{ user.email }}
            </p>
            <a href="/main" class="login-button waves-effect waves-light btn blue darken-1">Go to Main Page</a>
          {{else}}
            <p class="grey-text text-darken-2 left-align card-description">
              hey, <span style="color: #ff6f00;">sign up </span> with <span style="color: #dd4b39;">google</span> so that we can get your google calendar
            </p>
            <hr style="margin-top: 20px; margin-bottom: 20px;"/>
            <a id="google-login" class="login-button google-button waves-effect waves-light btn">Sign in with google</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>