<template name="lobby">

  <a class="waves-effect waves-light btn modal-trigger" href="#modal">Modal</a>

  <div class="modal" id="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s10">
          <h4>Create Lunch Lobby</h4>
        </div>
        <div class="col s2">
          <i class="mdi-navigation-close modal-close right closeSign"></i>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          Time:
        </div>
        <div id="" class="col s8">

        </div>
      </div>

      <div class="row">
        <div class="col s4">
          Venue:
        </div>
        <div class="col s8">

        </div>
      </div>

    </div>

    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>

  </div>
</template>