 <template name="main">
  
<div class="container">
  <a class="btn-floating btn-large waves-effect waves-light darkblue bottom-btn"><i class="material-icons">add</i></a><br><br>
  <ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle">assignment_ind</i>
      <span class="title">Lunch Event</span>
      <p>Time:<br>
         Venue:
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons ">textsms</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">assignment_ind</i>
      <span class="title">Lunch Event</span>
      <p>Time:<br>
         Venue:
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons ">textsms</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">assignment_ind</i>
      <span class="title">Lunch Event</span>
      <p>Time:<br>
         Venue:
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons ">textsms</i></a>
    </li>
  </ul>
</div>
</template>